div.tab {
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    padding: 4px;
    align-items: center;
    width: 150px;

    >span {
        flex-grow: 1;
        text-overflow: ellipsis;
        user-select: none;
    }

    >button {
        aspect-ratio: 1;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
        background-color: rgba(0, 0, 0, 0.1);

        box-shadow: inset 0px -3px 0 0px var(--color-light-highlight);

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
}